---
layout: default
---

<main class="site-content">

{% assign nav = site.data.nav["main"] %}
{% for item in nav %}
{% if !item.content %}
<section id="{{item.url | remove: ".md" }}" class="section">
  <h3>{{item.title}}</h3>
    {% capture test %}{% include_relative _sections/{{item.url}} %}{% endcapture %}
    {{ test |  markdownify}}
  </section>
  {% endif %}
{% endfor %}
</main>

<!--><div class="section"><!-->
<!-->  </div><!-->

  <!--> <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}





  </ul>
    <!-->
