
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" href="{{ "/favicon/favicon-32x32.png" | prepend: site.baseurl | prepend: site.url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/favicon/favicon-16x16.png" | prepend: site.baseurl | prepend: site.url }}" sizes="16x16">
<link rel="manifest" href="{{ "/favicon/manifest.json" | prepend: site.baseurl | prepend: site.url }}">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg" | prepend: site.baseurl | prepend: site.url }}" color="#262525">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">
<meta name="apple-mobile-web-app-title" content="Ideia &agrave; Vista">
<meta name="application-name" content="Ideia &agrave; Vista">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" | prepend: site.baseurl | prepend: site.url }}">
<meta name="theme-color" content="#ffffff">
