<section class="section" id="contact">
  <footer class="site-footer">
<div class="filter"></div>
  <div class="wrapper">
  <div class="inner-footer">


    <h2>Contato</h2>

    <div class="row">
      <div class="col">
        {% capture test %}{% include_relative _sections/contact_games.md %}{% endcapture %}
        {{ test |  markdownify}}
      </div>
      <div class="col">
        {% capture test %}{% include_relative _sections/contact_cinema.md %}{% endcapture %}
        {{ test |  markdownify}}
      </div>
    </div>

    </div>


    <div class="legal">
    Copyright © 2016 . Ideia a Vista . Todos os direitos reservados
    </div>
    </div>

<!--
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  -->


</footer>
</section>
