<section class="section section-contact" id="contact">
<div class="filter"></div>
<div class="inner-section">
<div class="wrapper">

    

<div class="contact-row">
    {% include contact-form.html %}


    <div class="contact-box">
      <div class="info">

{% include_relative _sections/contact.html %}
      </div>
    </div>
  </div>


    <div class="legal">
    Copyright © 2016 . Ideia a Vista . Todos os direitos reservados
    </div>
    </div>
    </div>
    </section>

<!--
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>


      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

 <address>

      </address> -->
