<header id="site-header">
    <div class="nav-container">
      <div id="mini-logo">
              <a  href=".title">
      <div class="nav-logo">
      </div>
        </a>
          </div>
      <div class="wrapper">
      <nav id="nav">

        <a href="#0" class="nav-button">Menu<span></span></a>
        <ul>
            {% assign nav = site.data.nav["main"] %}
              {% for item in nav %}
                {% if item.content == false %}
                  <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
                {% else %}
                  <li><a href="#{{item.url | remove: ".md"}}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="studio"><a href="http://ideiaestudiovirtual.com.br/" target="_blank">Estúdio Virtual</a></li>
        </ul>

    </nav>
        </div>
    </div>
</header>

<div id='nav-top-margin'></div>
<!-->
<div class="brand-wrapper">
    <div class="brand-bg">
      <video poster="img/showreel_poster.jpg" autoplay loop muted>
        <source type="video/mp4" src="videos/showreel.mp4">
        <source type="video/webm;" src="videos/showreel.webm">
      </video>
        <a class="site-title" href="{{ site.baseurl }}/">
      <div class="brand-logo">
        </div>
  </a>
  </div>
    </div><!-->




  <!--><li><a title="$.scrollTo('#{{item.url | remove: ".md"}}', 800, {easing:'elasout'});" href="#{{item.url | remove: ".md"}}">	{{ item.title }}</a></li><!-->
