<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

<meta http-equiv="content-language" content="pt-br" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="{{ site.description }}"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:type" content="website" >
<meta property="og:title" content ="{{ site.title | escape }}" />
<meta property="og:description" content="{{ site.description }}" />

<meta property="og:image" content="{{"/img/og-image.jpg" | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">

 {% include favicon.html %} 

{% if page.title == "Error 404" %}
  <style> {% include css/style404.css %} </style>
{% else %}
  <style> {% include css/style.css %} </style>
  <script type="text/javascript" src="{{ "js/modernizr.js" | prepend: site.baseurl }}"></script> <!-- Modernizr -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ "js/main.js" | prepend: site.baseurl }}"></script>
{% endif %}



  <!-- <script type="text/javascript" src="{{ "js/jquery.scrollTo.min.js" | prepend: site.baseurl }}"></script>-->

</head>
