<div class="title">
  <div class="video-header">
    <div class="filter"></div>
      <video class="fillWidth" poster="img/showreel_poster.jpg" autoplay loop muted>
          <!--><source type="video/mp4" src="videos/showreel.mp4"><!-->
      <source type="video/webm;" src="videos/showreel.webm">
      </video>
  </div>
  <div class="wrapper">
      <div class="brand wrapper-center">
          <div class="brand-holder">
            <!-- <a href="{{ site.baseurl }}/"> -->
              <h1>{{site.title}}</h1>
            <!-- <a> -->
              <img style="min-width:200px;" src="img/brand_logo.png">
            </div>
          <p>Uma produtora de cinema e games.</p>



      </div>

      <div class="arrow-down">
          <a href="#about">
              <svg class="arrow-down__img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="180px" height="107.5px" viewBox="0 0 180 107.5" enable-background="new 0 0 180 107.5" xml:space="preserve">
                <g>
                  <path fill="#fff" d="M39.215 19.98l51.953 54.102l51.953-54.102h18.066l-70.02 72.461L21.148 19.98H39.215z"></path>
                </g>
              </svg>
          </a>
      </div>
  </div>
</div>
