
:root {
  background: #fff;
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@custom-media --medium-up (width > 55em);
@custom-media --medium-down (width <= 55em);

.content-wrap {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

body {

  font-size: 1.3em;
  line-height: 1.833em;

  @media (--medium-down) {
    font-size: 1.1em;
    line-height: 1.63em;
  }
}

p {
  margin: 1.5em 0;
}

a {
  text-decoration:none;
  color: #000;
  outline: 0;

  /*&:hover{
    color: #0A0A0A;
  }*/
}

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

h3 {
  margin-bottom: 2rem;
  font-size: 2.25em;
  display: block;
  font-weight: 600;
  /*line-height: 2.5em;*/
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 64rem;
  /*padding: 0 calc(50% - 480px);*/
  margin: 0 auto;
  padding: 0 1.5em;
    /*@media (--medium-down) {

    }*/
}

.brand-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;

  @media (--medium-down) {
    height: 100vh;
  }
}
