
:root {
  background: #fbfbfb;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@custom-media --medium-up (width > 55em);
@custom-media --medium-down (width <= 55em);



body {

  font-size: 1.2em;
  line-height: 1.65em;

  @media (--medium-down) {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

p {
  margin: 1em 0;
}

a {
  text-decoration:none;
  color: #000;
  outline: 0;

  /*&:hover{
    color: #0A0A0A;
  }*/
}

a:hover, a:active, a:focus {
  /* styling for any way a link is about to be used */
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

h1, h2, h3 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

h2 {
  font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

img {
  max-width: 100%;
}

form {
  display: block;
}

.wrapper {
  max-width: 64rem;
  /*padding: 0 calc(50% - 480px);*/
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
  @media (--medium-down) {
      padding: 0 1em;
  }

}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.filter {
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  background-image: url('img/filter.png');
  width: 100%;
  height: 100%;
}
