
:root {
  background: #fff;
  color: #000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@custom-media --medium-up (width >= 55em);
@custom-media --medium-down (width < 55em);

body {
  font-size: 1.3em;
  line-height: 1.833em;

  @media (--medium-down) {
    font-size: 1.1em;
    line-height: 1.63em;
  }
}


p {
  margin: 1em 0;
}

a {
  text-decoration:none;
  color: #000;
  /*&:hover{
    color: #0A0A0A;
  }*/
}

h3 {
  margin-bottom: 1.25em;
  font-size: 2.25em;
  display: block;
  font-weight: 400;
  /*line-height: 2.5em;*/
}

.wrapper {
  /*width: 90%;*/
  padding: 0 calc(50% - 480px);
  margin: 0 auto;
}

.brand-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;

  @media (--medium-down) {
    height: 100vh;
  }
}

.brand {
  position: relative;
  z-index: 5;
  text-align: center;
  padding: calc(100vh/2 - 210px) 2em;
  line-height: 0;
}

.brand h1 {
  text-indent: -9999px;
  margin: auto;
  max-width: 600px;
  height: 276px;
  background: url('img/brand-svg.svg');
  background-size: contain;
  background-repeat: no-repeat;
    @media (--medium-down) {
      max-height: 400px;
      min-height: 176px;
      height: auto;
    }
}

.brand p {
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
  margin: 2em 0;
  line-height: 1.15em;
}

.brand-logo {
  position: absolute;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: 0;
  display: block;
  background-image: url('img/brand_logo.png');



  @media (--medium-up) {
    width: 623px;
    height: 300px;
    margin: calc(100vh/2 - 300px/2 - 1em) auto;
  }

  @media (--medium-down) {
    max-width: 75%;
    height: 100%;
    margin: 0 auto;
    background-size: contain;
  }

}

.brand-bg {

  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;*/

/*  background-image: url('img/brand_bg.png');*/
  background-size: cover;
  z-index: -10;
  width: 100%;


  @media (--medium-down) {
    height: 100%;
  }

}
