


.site-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  z-index: 3;
  background: #fbfbfb;
}

.section {
  position: relative;
  clear: both;

  display: block;
  /*  @media (--medium-down) {
        padding: 4em 0;
    }*/
}

.inner-section {
    padding: 6em 0;
}


.box {

  display: block;
  text-align: center;
  margin: 5em 0;

@media (--medium-up) {
  float: left;
  margin: 0 0 2.75% 0;
  width: calc((100% - (2.75%*2))/3);
  padding-top: 3em;
}
}


.box:last-child {
    margin-right: 0;
}


.box h3.subtitle {
  margin-top: 1em;
  margin-bottom: 1em;
}



.box svg {
  width: 8em;
  height: 8em;
  background-color: transparent;

@media (--medium-up) {
  &:hover{
        background-color: #1c2a69;
  }

  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

}

.box-icon {
    fill: #000;
    @media (--medium-up) {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (--medium-up) {

  .box p {
    max-width: 12.5em;
    margin: auto;
  }

  .box svg:hover .box-icon {
      fill: #fff;
  }

}


.section.section-games {
  color: #fff;
  background-image: url('img/games_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section .row {
  display: flex;
  @media (--medium-down) {
  display: block;
}

}

.section .col {
  display: inline-block;
  float: left;
  width: 54%;
  margin-right: 4%;
  @media (--medium-down) {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.section .col-img {

  margin: auto;
  width: 320px;

    @media (--medium-down) {
      width: 100%;
      text-align: center;
    }

}

#img-about1 {
  max-width: 320px;
  display: inline-block;
}

#img-about2 {
  max-width: 320px;
  display: block;
  position: absolute;
  bottom: 8%;
  z-index: 5;
  border-top: #fff 1em solid;
  margin: auto;
    @media (--medium-down) {
        position: relative;
        border-top:0;
    }
}

/*.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed
}

@media only screen and (--medium-up) {
  .has-top-margin {
    animation-name: animate-margin-top;
    -moz-animation-name: animate-margin-top;
    -webkit-animation-name: animate-margin-top;
    animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    margin-top: 6em;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
      margin-top: 0em;
  }

  100% {
  margin-top: 6em;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
  margin-top: 0em;
  }

  100% {
    margin-top: 6em;
  }
}

@keyframes animate-margin-top {
  0% {
      margin-top: 0em;
  }

  100% {
    margin-top: 6em;
  }
}
*/
