
.title {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.site-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: auto;
  z-index: 3;
  background: #fff;
}

.section {
  position: relative;
  clear: both;
}

.section .row {
  display: flex;
  @media (--medium-down) {
  display: block;
}

}

.section .col {
  display: inline-block;
  float: left;
  width: 68%;
  margin-right: 4%;
  @media (--medium-down) {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.section .col-img {

  margin: auto;
  width: 44%;

    @media (--medium-down) {
      width: 100%;
      text-align: center;
    }

}

/*.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed
}

@media only screen and (--medium-up) {
  .has-top-margin {
    animation-name: animate-margin-top;
    -moz-animation-name: animate-margin-top;
    -webkit-animation-name: animate-margin-top;
    animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    margin-top: 6em;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
      margin-top: 0em;
  }

  100% {
  margin-top: 6em;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
  margin-top: 0em;
  }

  100% {
    margin-top: 6em;
  }
}

@keyframes animate-margin-top {
  0% {
      margin-top: 0em;
  }

  100% {
    margin-top: 6em;
  }
}
*/
