

.section.section-contact {

  color: #fff;
  background-image: url('img/footer_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @media (--medium-up) {
    min-height: 48em;
  }
  @media (--medium-down) {

      background-position: 100% 50%;
  }

}

/*.site-footer {
  position: relative;
  color: #ececec;
  min-height: 36em;
}


.site-footer::after {
  content: "";
  background-image: url('img/footer_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  @media (--medium-down) {
      background-position: 100% 50%;
  }
}*/

/*.inner-footer {
  padding-top: 6.25em;
}*/

.contact-row {
  display: inline-block;
  position: relative;
  width: 100%;
}

.contact-box .info {
  margin-top: 2.5em;
}

@media (--medium-up) {
  .contact-box {
    float: left;
    display: block;
    margin-right: 2.75%;
    width:  48.625%; /*calc((100% - 2.75%)/2);*/

  }

  .contact-box:last-child {
        margin-right: 0%;
  }

  .contact-box .info {
    margin-top:  8.5em;
    width: 70%;
    float: right;
  }
}



button, input, textarea {
  background: #fbfbfb;
}

input, textarea {
  width: 100%;
  color: #000;
  border: 2px solid #fbfbfb;
  outline: none;
  padding: 0.45em;
  border-radius: 0;
}

input {
  line-height: normal;
  margin-bottom: 1em;
}

textarea {
  resize: none;
  height: 10em;
}

input.error, textarea.error {
  border: 2px solid #ef221a;
  color: #ef221a;
}

input.send, textarea.send {
  border: 2px solid #d8d8d8;
  color: #7d7d7d;
  background: #d8d8d8;
}

.button-contact-send.send {
  background-color: #1c2a69;
  cursor: default;
}

.button-contact-send {

  float: none;
  padding: 0.6em 1.8em;/*0.45em 1.8em;*/
  margin-top: 0.5em;
  width: 100%;

  &:active {
     background-color: #222f69;
  }

}

.button-contact-send span {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

.button-contact-send.send span {
  color: #fff;
}

.button-contact-send:active span {
  color: #d2d2d2;
}

@media only screen and (--medium-up) {

  .button-contact-send {
    -webkit-transition: background-color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    width: auto;
    float: right;
    &:hover{
       background-color: #1c2a69;
    }

  }

  .button-contact-send:hover span {
    color: #fff;
  }

}

.contact-message-errors {
  position: relative;
  /*bottom: 2.8125em;*/
  top: 0.5em;
  line-height: normal;
  z-index: -1;
}

.contact-message-errors label.error {
  color: #fbfbfb;
  font-size: 0.875rem;
  display: block;
}

#contact-box-sucess {
  display: none;

  text-align: center;
  @media (--medium-up) {
  margin-top: 9em;
}
}

#contact-box-sucess span {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

#contact-box-sucess span:hover {
  color: #7183d2;
}

.address {
  margin: 0;/*0.8em 0 0 0;*/
  font-size: 0.9em;
}

.address span {
  display: block;
}

.ideia-adr {
  margin-bottom: 0;
  font-size: 1em;
}

.legal {
  position: absolute;
  bottom: 2.5em;
  font-size: 0.85rem;
  /*padding: 2.5em 0 1.5em;*/
}

.site-footer .row {
    display: flex;
    margin-bottom: 3.5em;
    font-size: 0.85em;
      @media (--medium-down) {
        display: block;
      }
}

.site-footer .col {
  width: 48%;

  @media (--medium-down) {
      width: 100%;
      display: block;
  }
}
@media (--medium-up) {
  .site-footer .col:first-child{

    margin-right: 4%;

  }
}

@media (--medium-down) {
  .site-footer .col:last-child{

    margin-top: 2em;

  }
}



.site-footer h3 {
  text-transform: uppercase;
  font-size: 1.15em;
  margin-bottom: 1em;
}

.site-footer address {
  font-style: normal;
  line-height: 2em;
}
